* {
  margin: 0;
  padding: 0;
}

/* shared style  */
.primary-text {
  font-family: "Mulish", serif;
}

header,
main {
  padding: 0 130px;
}

.primary-title {
  font-size: 2rem;
  font-weight: 800;
}

.secondary-title {
  font-size: 24px;
  font-weight: 800;
}

.primary-description {
  color: rgb(90, 90, 93);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.btn-primary {
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border: none;
  background-color: rgb(255, 84, 0);
}

/* nav section style  */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar span {
  color: rgb(255, 84, 0);
}

.navbar h2 {
  font-weight: 800;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  color: rgb(66, 66, 71);
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
}

nav ul li:hover {
  color: rgb(255, 84, 0);
}

.navbar img {
  width: 50px;
}

/* hero section style  */
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8),
      rgba(19, 19, 24, 0) 100%
    ),
    url("./Images/Group\ 13\ \(1\)\ \(1\).png");
  height: 90vh;
  border-radius: 16px;
  color: white;
  background-repeat: no-repeat;
}

.hero-container h1 {
  font-size: 3rem;
  font-weight: 800px;
}

.hero-container p {
  padding: 10px 0 40px 0;
}

.header-input input,
select,
option,
button {
  width: 130px;
  padding: 8px 15px;
  margin-left: 15px;
  border-radius: 8px;
  border: none;
}

.header-input {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 8px 10px 0;
}

.header-input button {
  background-color: rgb(255, 84, 0);
  color: white;
  font-weight: 700;
}

/* why choose us style  */
.why-content {
  text-align: center;
  margin-top: 80px;
}

.box-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 50px 0 30px 0;
}

.box {
  padding: 25px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  border-radius: 16px;
}

.box h4 {
  margin: 15px 0;
}

.box-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#box-1 {
  background: rgba(251, 181, 99, 0.05);
}

#box-2 {
  background: rgba(41, 206, 246, 0.05);
}

#box-3 {
  background: rgba(233, 68, 68, 0.05);
}

/* deals and discount container  */
.discount-container {
  margin: 90px 0;
}

.discount-content {
  text-align: center;
  margin-bottom: 50px;
}
.discount-box-container {
  background-image: url("./Images/Group\ 39.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 15px;
}

.image2 {
  background-image: url("./Images/Group\ 40.png");
  justify-content: flex-start;
}

#box2 {
  margin-left: 50px;
}

.discount-box {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.8);
  width: 450px;
  height: 250px;
  margin-right: 50px;
  padding: 30px;
}

.discount-box h4 {
  margin: 15px 0;
  font-weight: 800;
}

.discount-box button {
  margin-left: 0;
}

.fa-solid {
  color: rgb(255, 84, 0);
}

.icon {
  margin-right: 20px;
}

.price {
  margin: 15px 0;
  color: rgb(255, 84, 0);
  font-weight: 700;
}

.discount-btn button {
  padding: 10px 10px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: rgb(255, 84, 0);
}

.discount-btn {
  margin-top: 25px;
  text-align: center;
}


/* A simple perfect place section style  */
.perfect-place-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.place-content h2{
    margin-bottom: 20px;
}

.place-content ul{
    margin: 15px 0 15px 20px;
}

.place-content button{
    margin-left: 0;
}

.perfect-place-image{
    background-image: url('./Images/Group\ 40089.png');
    width: 600px;
height: 350px;
display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    border-radius: 16px;
    background-position: center;
    background-size: cover;
}


.place-small{
    color: rgb(90, 90, 93);
    padding: 20px 0;
}

